/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Montserrat;
    font-weight: 600;
    src: url("../fonts/Montserrat-SemiBold.ttf") format("truetype");
  }

  @font-face {
    font-family: OpenSans;
    font-weight: 400;
    src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
  }
  
  @font-face {
    font-family: Playfair;
    font-weight: 400;
    src: url("../fonts/PlayfairDisplay-Regular.ttf") format("truetype");
  }
  
  @font-face {
    font-family: Playfair;
    font-weight: 700;
    src: url("../fonts/PlayfairDisplay-Bold.ttf") format("truetype");
  }
}

html {
  scroll-behavior: smooth;
}

.darken:hover {
  filter: brightness(85%) contrast(115%);
}